pandas
matplotlib
seaborn
nltk
langdetect
textblob
emoji
scikit-learn
keras
tensorflow
wordcloud
streamlit
numpy
cython
setuptools
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability