pandas
matplotlib
seaborn
nltk
langdetect
textblob
emoji
scikit-learn
keras
tensorflow
wordcloud
streamlit
numpy
cython
setuptools
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability